EVE/__pycache__/
utils/__pycache__/
results/VAE_parameters/*
!results/VAE_parameters/.gitkeep
*.a2m
*.sto
*.csv
*.pkl
*.pt
uniref100.fasta.gz
uniref100.fasta
uniref90.fasta
wget-log
*.log
*.sh
*.txt
data/MSA/*
data/weights/*
data/MSA/DprE1/*
data/MSA/InhA/*
data/MSA/**/*tblout.txt
data/sequences/*.fasta